*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER
A Header é a mãe de todo o conteúdo(filhos) que está dentro dela
-imagem de logo
-h1 título vai na web
-nav
*/

/*NAV
A nav é a mãe da UL*/

/*UL
A UL é a mãe da minha LI
*/


header{
    background-color: gray;
    display: flex;
    justify-content: space-around; /*Espaçamento na horizontal dos conteúdos (filhos) da header*/
    align-items: center; /*Centralizando os filhos da header na vertical*/
}

nav{
    width: 40%;
    /* background-color: aquamarine; */
}

.logo{
    border-radius: 50%;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    color: white;
    font-weight: 800;
    font-size: 1.4rem;
}

footer{
    background-color: green;
}
.imgFooter{
    width: 15%;
}
