*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER
A Header é a mãe de todo o conteúdo(filhos) que está dentro dela
-imagem de logo
-h1 título vai na web
-nav
*/

/*NAV
A nav é a mãe da UL*/

/*UL
A UL é a mãe da minha LI
*/


header{
    background-color: gray;
    display: flex;
    justify-content: space-around; /*Espaçamento na horizontal dos conteúdos (filhos) da header*/
    align-items: center; /*Centralizando os filhos da header na vertical*/
}

nav{
    width: 40%;
    /* background-color: aquamarine; */
}

.logo{
    border-radius: 50%;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    color: white;
    font-weight: 800;
    font-size: 1.4rem;
}

footer{
    background-color: green;
}
.imgFooter{
    width: 15%;
}


/*RESPONSIVO - MOBILE */
@media(min-width: 201px) and (max-width: 500px){

header{
    display:flex;
    flex-direction: column;
    background-color: orange;
}

ul{
display:flex;
flex-direction: column;
align-items: center;
}

main{
    background-color: blue;
}
.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgGaleria{
width: 80%;
margin-top: 1rem;
}

}

/*TABLET*/
@media(min-width: 501px) and (max-width: 900px){
    header{
        display:flex;
        flex-direction: column;
        background-color: orange;
    } 
nav{
    width: 90%;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    font-size: 1.5rem;
}

main{
    background-color: pink;
}
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgGaleria{
        width: 80%;
        margin-top: 1rem;
        }
}



/*DESKTOP*/

@media(min-width:1501px) and (max-width: 1800px) {
    header{
        height: 40vh;
        background-color: blue;
    }

    h1{
        color: orange;
        font-size: 3rem;
    }

    li{
        color: orange;
        font-size: 2rem;
    }

main{
    background-color: orange;
}

.galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.imgGaleria{
    width: 40%;
    height: 300px;
    margin-top: 1rem;
}

}